body {
    background-color: blue;
    text-align: center;
    font-size: 30px;
}

.tip_calculator {
    border: 2px solid white;
    margin: 10% 30% 50% 30%;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}

.bill {
    width: 60px;
}

.tip_percentage {
    display: block;
    width: 140px;
    height: 25px;
    margin: 10px auto;
}

label, input {
    margin: 0 0 10px;
}

input {
    height: 25px;
}

button {
    background-color: chartreuse;
    margin: 10px 0;
    height: 35px;
    width: 125px;
    font-size: 20px;
}

p {
    margin: 5px;
}

.total {
    margin-bottom: 60px;
}