body {
    background-color: blue;
    text-align: center;
    font-size: 30px;
}

.bill {
    width: 60px;
}

.tip_percentage {
    display: block;
    width: 140px;
    height: 25px;
    margin: 10px auto;
}

label, input {
    margin: 0 0 10px;
}

input {
    height: 25px;
}

button {
    background-color: chartreuse;
    margin: 10px 0;
    height: 35px;
    width: 125px;
    font-size: 20px;
}

p {
    margin: 5px;
}