body {
    background-color: blue;
    text-align: center;
}

.bill {
    width: 60px;
    margin: 10px auto;
}

.tip_percentage {
    display: block;
    width: 70px;
    margin: 10px auto;
}

label {
    margin: 10px 0;
}

button {
    background-color: chartreuse;
    margin: 10px 0;
    height: 35px;
    width: 125px;
    font-size: 20px;
}